*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Android specific
*.apk
*.ap_
*.aab
*/build

# Navigation editor temp files
.navigation/

# Lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# Android Profiling
*.hprof

# Signing files
*.jks
*.keystore
